


.p0{
  padding: 0px;
}

.topcon{
  height: 320px;
  // Slider Style START 
.custon-nav{
  height: 48px;
  width: 20px;
  cursor: pointer;

  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.prev-icon-custom{
  background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll 0px 0px;
}
.prev-icon-custom.disabled{
  opacity: 0.4;
  cursor: default;
}
.next-icon-custom{
  background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll -32px 0px;
}
.next-icon-custom.disabled{
  opacity: 0.4;
  cursor: default;
}
.slider-nav{
  ion-icon{
      height: 100%;
  }
}

.slide-text{
  position: absolute;
  color: white;
  top: 0px;
}

// Slider Style STOP

.topdiv{
  width: 100%;
  padding: 0px 10px;
}
.col-1{
  text-align: right;
  ion-icon{
    font-size: 24px;
  }
}
.col-2{
  .p1{
    font-size: 12px;
    margin-top: 10px;
  }
}
.bor1{
  height: 1px;
    background-color: white;
    width: 35px;
    margin-top: 10px;
    margin-bottom: 5px;

}
h1{
  font-size: 46px;
  font-weight: 600;
}
.p2{
  font-size: 14px;
}
.col-3{
  ion-button{
    font-size: 10px;
    padding: 0px;
    width: 28%;
    margin-top: 9%;
    height: 32px;
  }
}
}



.main2{
  margin-top: 10px;
  padding: 0px 10px;
  h4.margin0{
    font-weight: 600;
  }
  p.text-right.margin0{
    font-size: 12px;
    color: grey;
    margin-top: 10px;
  }
}

.jlik{
  height: 240px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.pio{
  font-weight: 800;
  font-size: 14px;
  font-family: system-ui;
}
.pio0{
 font-weight: 700;
  font-size: 12px;
  font-family: system-ui;
  margin-top: 2px;
}
.diviH{
  position: absolute;
  top: 9px;
  right: 0px;
  ion-icon{
    margin-right: 10px;
    font-size: 22px;
    color: wheat;
  }
}
.holdSale{
padding: 0px 10px;
margin-top: -5px;

.slidmainco{
  overflow: hidden;
  height: 26vh;
  border-radius: 10px;
  
  ion-img{
    -webkit-filter: blur(1px);
  }
}
.text{
  
  width: 90%;
  text-align: center;
  margin-top: -20vh;
  margin-left: 6%;
  background-color: #383434b5;
  border: 1px solid white;
  padding: 5px;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  h4{
    color: white;
    font-size: 5vh;
  }
  p{
    color: white;
    font-size: 3vh;
  }
}
 
}

.procard{
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 6px -2px black;
  .imageca{
    height: 30vh;
    overflow: hidden;
    img{
      border-radius: 10px 10px 0px 0px;
     
      width: 100%;
    }
  }

  .pricy{
    padding: 5px 5px 10px 10px;
    .pio{
      font-size: 13px;
      text-transform: capitalize;
    }
    .pio0{
      color: grey;
    }
  }
  .col-1{
    position: absolute;
    top: 15px;
    right: 15px;
    ion-icon{
      color: white;
      font-size: 20px;
    }
  }
}